{% extends 'base_no-nav.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="d-flex flex-column align-items-center h-100 px-3 px-lg-5 pt-5">
        <div class="w-100 mt-auto" style="max-width: 526px;">
            <h1>{{ 'register'|trans }}</h1>
            <p class="pb-3 mb-3 mb-lg-4">{{ 'already_account'|trans }}&nbsp;&nbsp;<a href="{{ path('app_login') }}">{{ 'login'|trans }}</a></p>
            {{ form_errors(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}

            {{ form_start(registrationForm) }}

            <form class="needs-validation" novalidate="">
                <div class="pb-3 mb-3">
                    <div class="position-relative">
                        <i class="ai-user fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                        <input
                            name="{{ field_name(registrationForm.username) }}"
                            value="{{ field_value(registrationForm.username) }}"
                            placeholder="{{ field_label(registrationForm.username) }}"
                            class="form-control form-control-lg ps-5"
                            required autofocus
                        >
                    </div>
                    {{ form_errors(registrationForm.username) }}
                </div>
                <div class="pb-3 mb-3">
                    <div class="position-relative">
                        <i class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                        <input
                            name="{{ field_name(registrationForm.email) }}"
                            value="{{ field_value(registrationForm.email) }}"
                            placeholder="{{ field_label(registrationForm.email) }}"
                            class="form-control form-control-lg ps-5"
                            required autofocus
                        >
                    </div>
                    {{ form_errors(registrationForm.email) }}

                </div>

                <div class="mb-4">
                    <div class="position-relative">
                        <i class="ai-lock-closed fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                        <div class="password-toggle">
                            <input
                                name="{{ field_name(registrationForm.plainPassword) }}"
                                value="{{ field_value(registrationForm.plainPassword) }}"
                                placeholder="{{ field_label(registrationForm.plainPassword) }}"
                                class="form-control form-control-lg ps-5"
                                type="password"
                                required autofocus
                            >
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>

                <div class="d-flex flex-wrap align-items-center justify-content-between pb-2">
                    <div class="my-1">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                </div>
                <button class="btn btn-lg btn-primary w-100 mb-4" type="submit">{{ 'register'|trans }}</button>
                <!-- Sign in with social account -->
                <h2 class="h6 text-center pt-3 pt-lg-4 mb-4">Or sign in with your social account | Soon</h2>
                <div class="row row-cols-1 row-cols-sm-2 gy-3">
                    <div class="col">
                        <a class="btn btn-icon btn-outline-secondary btn-google btn-lg w-100 disabled" href="#" disabled="">
                            <i class="ai-google fs-xl me-2"></i>
                            Google
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-icon btn-outline-secondary btn-facebook btn-lg w-100 disabled" disabled="" href="#">
                            <i class="ai-facebook fs-xl me-2"></i>
                            Facebook
                        </a>
                    </div>
                </div>
                {{ form_row(registrationForm._token) }}
            </form>
            {{ form_end(registrationForm) }}
        </div>

        <!-- Copyright -->
        <p class="nav w-100 fs-sm pt-5 mt-auto mb-5" style="max-width: 526px;"><span class="text-body-secondary">© All rights reserved. Made by</span><a class="nav-link d-inline-block p-0 ms-1" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a></p>
    </div>


{% endblock %}
