{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <main class="page-wrapper">

        <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page -->



        <!-- Page container -->
        <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
            {% if user %}
                <div class="row pt-sm-2 pt-lg-0">

                    {% if app.user and app.user.id == user.id %}
                        {% include 'user/user_navbar.html.twig'%}
                    {% endif %}


                    <!-- Page content -->
                    <div class="{% if app.user and app.user.id == user.id %}col-lg-9{% else %}col-lg-12{% endif %} pt-4 pb-2 pb-sm-4">

                        <h1 class="h2 mb-4">Account</h1>

                        <!-- Basic info -->
                        <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4 bg-secondary">
                            <div class="card-body">
                                <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                                    <i class="ai-user text-primary lead pe-1 me-2"></i>
                                    <h2 class="h4 mb-0">Général information</h2>
                                </div>
                                <div class="d-md-flex align-items-center">
                                    <div class="d-sm-flex align-items-center">
                                        <div class="rounded-circle bg-size-cover bg-position-center flex-shrink-0" style="width: 80px; height: 80px; background-image: url({{ asset('user/img/avatar/' ~ user.avatar) }});"></div>
                                        <div class="pt-3 pt-sm-0 ps-sm-3">
                                            <h3 class="h5 mb-2">{{ user.displayname }} {% if user.isVerified == 1 %} <i class="ai-circle-check-filled fs-base text-success ms-2"></i> {% endif %}</h3>
                                            <div class="text-body-secondary fw-medium d-flex flex-wrap flex-sm-nowrap align-iteems-center">
                                                <div class="d-flex align-items-center me-3">
                                                    @{{ user.username }}
                                                </div>
                                                {% if user.country.nicename is defined %}
                                                    <div class="d-flex align-items-center text-nowrap">
                                                        <i class="ai-map-pin me-1"></i>
                                                        {{ user.country.nicename }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-3 pt-md-0 ps-md-5 ps-lg-6 ps-xl-7" style="max-width: 500px; text-align: left;">
                                        <p>{{ user.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </section>


                        <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4 bg-secondary">
                            <div class="card-body">
                                <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                                    <i class="ai-chart text-primary lead pe-1 me-2"></i>
                                    <h2 class="h4 mb-0">Statistics</h2>
                                </div>
                                {% if user and (user.ispublic == true and (app.user and user.id == user.id)) %}
                                    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 pb-1 pb-md-3">
                                        <div class="col">
                                            <div class="d-flex align-items-center">
                                                <div class="position-rlative flex-shrink-0 rounded-1 overflow-hidden p-2">
                                                    <div class="bg-white opacity-40 position-absolute top-0 start-0 w-100 h-100"></div>
                                                    <i class="ai-like d-block m-1" width="32"></i>
                                                </div>
                                                <h3 class="h5 ps-3 mb-0">Likes</h3>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex align-items-center">
                                                <div class="position-rlative flex-shrink-0 rounded-1 overflow-hidden p-2">
                                                    <div class="bg-white opacity-40 position-absolute top-0 start-0 w-100 h-100"></div>
                                                    <i class="ai-message d-block m-1" width="32"></i>
                                                </div>
                                                <h3 class="h5 ps-3 mb-0">Commentary</h3>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex align-items-center">
                                                <div class="position-rlative flex-shrink-0 rounded-1 overflow-hidden p-2">
                                                    <div class="bg-white opacity-40 position-absolute top-0 start-0 w-100 h-100"></div>
                                                    <i class="ai-message d-block m-1" width="32"></i>
                                                </div>
                                                <h3 class="h5 ps-3 mb-0">Response</h3>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex align-items-center">
                                                <div class="position-rlative flex-shrink-0 rounded-1 overflow-hidden p-2">
                                                    <div class="bg-white opacity-40 position-absolute top-0 start-0 w-100 h-100"></div>
                                                    <i class="ai-heart d-block m-1" width="32"></i>
                                                </div>
                                                <h3 class="h5 ps-3 mb-0">Favorite</h3>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="d-flex w-100 justify-content-center align-items-center">
                                        <span class="badge bg-secondary fs-sm" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" title="Private account" data-bs-content="This account is private, so you cannot view their information. You can make the same choice in your settings."><i class="ai-lock-closed d-block m-4" style="font-size: 75px"></i></span>
                                    </div>
                                {% endif %}
                            </div>
                        </section>

                        <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4 bg-secondary">
                            <div class="card-body">
                                <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                                    <i class="ai-user text-primary lead pe-1 me-2"></i>
                                    <h2 class="h4 mb-0">Last activities</h2>
                                </div>
                                {% if user and (user.ispublic == true and (app.user and user.id == user.id)) %}
                                    <div class="d-md-flex align-items-center">
                                        Content
                                    </div>
                                {% else %}
                                    <div class="d-flex w-100 justify-content-center align-items-center">
                                        <span class="badge bg-secondary fs-sm" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" title="Private account" data-bs-content="This account is private, so you cannot view their information. You can make the same choice in your settings."><i class="ai-lock-closed d-block m-4" style="font-size: 75px"></i></span>
                                    </div>
                                {% endif %}
                            </div>
                        </section>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    This account does not exist !
                </div>
            {% endif %}
        </div>

        <!-- Divider for dark mode only -->
        <hr class="d-none d-dark-mode-block">

        <!-- Sidebar toggle button -->
        <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarAccount">
            <i class="ai-menu me-2"></i>
            Account menu
        </button>
    </main>

{% endblock %}
