{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <main class="page-wrapper">

        <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
            {% if user %}
                <div class="row pt-sm-2 pt-lg-0">

                    {% if app.user and app.user.id == user.id %}
                        <aside class="col-lg-3 pe-lg-4 pe-xl-5 mt-n3">
                            <div class="position-lg-sticky top-0">
                                <div class="d-none d-lg-block" style="padding-top: 105px;"></div>
                                <div class="offcanvas-lg offcanvas-start" id="sidebarAccount">
                                    <button class="btn-close position-absolute top-0 end-0 mt-3 me-3 d-lg-none"
                                            type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    <div class="offcanvas-body">
                                        <div class="pb-2 pb-lg-0 mb-4 mb-lg-5">
                                            <img class="d-block rounded-circle mb-2 avatar-img"
                                                 style="width:80px; height:80px; object-fit:cover; object-position:center;"
                                                 src="{{ asset('user/img/avatar/' ~ user.avatar) }}" width="80"
                                                 alt="{{ user.username }}">
                                            <h3 class="h5 mb-1">{{ user.displayname }}</h3>
                                            <p class="fs-sm text-body-secondary mb-0">@{{ user.username }}</p>
                                        </div>
                                        <nav class="nav flex-column pb-2 pb-lg-4 mb-3">
                                            <h4 class="fs-xs fw-medium text-body-secondary text-uppercase pb-1 mb-2">
                                                Account</h4>
                                            <a class="nav-link fw-semibold py-2 px-0"
                                               href="{{ path('app_user', {'username':app.user.username }) }}">
                                                <i class="ai-user-check fs-5 opacity-60 me-2"></i> Overview
                                            </a>
                                            <a class="nav-link fw-semibold py-2 px-0"
                                               href="{{ path('app_user_settings', {'username':app.user.username }) }}">
                                                <i class="ai-settings fs-5 opacity-60 me-2"></i> Settings
                                            </a>
                                        </nav>
                                        <nav class="nav flex-column pb-2 pb-lg-4 mb-1">
                                            <h4 class="fs-xs fw-medium text-body-secondary text-uppercase pb-1 mb-2">
                                                Dashboard</h4>
                                            <a class="nav-link fw-semibold py-2 px-0" href="#">
                                                <i class="ai-cart fs-5 opacity-60 me-2"></i> Premium
                                            </a>
                                            <a class="nav-link fw-semibold py-2 px-0" href="#">
                                                <i class="ai-messages fs-5 opacity-60 me-2"></i> Notification
                                                <span class="badge bg-danger ms-auto">4</span>
                                            </a>
                                            <a class="nav-link fw-semibold py-2 px-0" href="#">
                                                <i class="ai-heart fs-5 opacity-60 me-2"></i> Favorites
                                            </a>
                                        </nav>
                                        <nav class="nav flex-column">
                                            <a class="nav-link fw-semibold py-2 px-0" href="{{ path('app_logout') }}">
                                                <i class="ai-logout fs-5 opacity-60 me-2"></i> Sign out
                                            </a>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    {% endif %}

                    <!-- Page content -->
                    <div
                        class="{% if app.user and app.user.id == user.id %}col-lg-9{% else %}col-lg-12{% endif %} pt-4 pb-2 pb-sm-4">
                        {{ form_start(formSettings, {'attr': {'novalidate': 'novalidate', 'need-validation' : 'need-validation'}}) }}
                        <h1 class="h2 mb-4">Account</h1>

                        <!-- Basic info -->
                        <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4 bg-secondary">
                            <div class="card-body">
                                <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                                    <i class="ai-user text-primary lead pe-1 me-2"></i>
                                    <h2 class="h4 mb-0">Général information</h2>
                                </div>

                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success mb-4">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <!-- Avatar button -->
                                        <a class="d-flex flex-column justify-content-end position-relative overflow-hidden rounded-circle bg-size-cover bg-position-center flex-shrink-0"
                                           href="#" data-bs-toggle="dropdown" aria-expanded="false"
                                           style="width: 80px; height: 80px; background-image: url({{ asset('user/img/avatar/' ~ user.avatar) }});"
                                           aria-label="Upload picture">
                                            <span class="d-block text-light text-center lh-1 pb-1" style="background-color: rgba(0,0,0,.5)">
                                                <i class="ai-camera"></i>
                                            </span>
                                        </a>

                                        <div class="dropdown-menu my-1">
                                            <a class="dropdown-item fw-normal" href="#modalChangeAvatar"
                                               data-bs-toggle="modal">
                                                <i class="ai-camera fs-base opacity-70 me-2"></i> Upload new photo
                                            </a>
                                            {% if user.avatar != "avatar.png" %}
                                                <a class="dropdown-item text-danger fw-normal"
                                                   href="{{ path('app_user_settings_delete_avatar', {'username':app.user.username}) }}">
                                                    <i class="ai-trash fs-base me-2"></i> Delete photo
                                                </a>
                                            {% endif %}
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade {% if form_errors(formSettings.avatar) %}show{% endif %}"
                                             id="modalChangeAvatar" tabindex="-1" role="dialog"
                                             {% if form_errors(formSettings.avatar) %}style="display:block;"{% endif %}>
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Change your profile picture</h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input
                                                            name="{{ field_name(formSettings.avatar) }}"
                                                            type="file"
                                                            id="file"
                                                            class="form-control mb-2
                                                            {% if form_errors(formSettings.avatar) %}
                                                                is-invalid
                                                            {% endif %}"
                                                            required autofocus
                                                        >
                                                        {% if form_errors(formSettings.avatar) %}
                                                            <div class="invalid-feedback d-block">
                                                                {{ form_errors(formSettings.avatar) }}
                                                            </div>
                                                        {% endif %}
                                                        <p>Your profile picture needs to be jpg, png or jpeg</p>
                                                    </div>
                                                    <div class="modal-footer flex-column flex-sm-row">
                                                        <button type="button"
                                                                class="btn btn-secondary w-100 w-sm-auto mb-3 mb-sm-0"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit"
                                                                class="btn btn-primary w-100 w-sm-auto ms-sm-3">Save
                                                            changes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="ps-3">
                                        <h3 class="h6 mb-1">Profile picture</h3>
                                        <p class="fs-sm text-body-secondary mb-0">PNG, JPG no bigger than 1000px wide
                                            and tall.</p>
                                    </div>
                                </div>

                                <!-- Inputs -->
                                <div class="row g-3 g-sm-4 mt-0 mt-lg-2">
                                    <div class="col-sm-6">
                                        <label class="form-label" for="username">Username</label>
                                        <input value="@{{ app.user.username }}" class="form-control" disabled>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="form-label" for="dpn">Name</label>
                                        <input
                                            name="{{ field_name(formSettings.display_name) }}"
                                            value="{{ formSettings.display_name.vars.value }}"
                                            id="dpn"
                                            class="form-control
                                            {% if form_errors(formSettings.display_name) %}
                                                is-invalid
                                            {% elseif formSettings.vars.submitted %}
                                                is-valid
                                            {% endif %}"
                                            required autofocus
                                        >
                                        {% if form_errors(formSettings.display_name) %}
                                            <div class="invalid-feedback d-block">
                                                {{ form_errors(formSettings.display_name) }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="form-label" for="email">Email address</label>
                                        <input
                                            name="{{ field_name(formSettings.email) }}"
                                            value="{{ formSettings.email.vars.value }}"
                                            type="email"
                                            id="email"
                                            class="form-control
                                            {% if form_errors(formSettings.email) %}
                                                is-invalid
                                            {% elseif formSettings.vars.submitted %}
                                                is-valid
                                            {% endif %}"
                                            required autofocus
                                        >
                                        {% if form_errors(formSettings.email) %}
                                            <div class="invalid-feedback d-block">
                                                {{ form_errors(formSettings.email) }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="col-sm-6">
                                        {{ form_label(formSettings.country) }}

                                        {% set countryClass = 'form-control' %}
                                        {% if form_errors(formSettings.country) %}
                                            {% set countryClass = countryClass ~ ' is-invalid' %}
                                        {% elseif formSettings.vars.submitted %}
                                            {% set countryClass = countryClass ~ ' is-valid' %}
                                        {% endif %}

                                        {{ form_widget(formSettings.country, {
                                            attr: { class: countryClass }
                                        }) }}

                                        {{ form_errors(formSettings.country) }}
                                    </div>

                                    <div class="col-sm-6">
                                        {{ form_label(formSettings.timezone) }}

                                        {% set timezoneClass = 'form-control' %}
                                        {% if form_errors(formSettings.timezone) %}
                                            {% set timezoneClass = timezoneClass ~ ' is-invalid' %}
                                        {% elseif formSettings.vars.submitted %}
                                            {% set timezoneClass = timezoneClass ~ ' is-valid' %}
                                        {% endif %}

                                        {{ form_widget(formSettings.timezone, {
                                            attr: { class: timezoneClass }
                                        }) }}

                                        {{ form_errors(formSettings.timezone) }}
                                    </div>
                                    <div class="col-sm-6 mt-4 d-flex flex-column">
                                        <div class="form-check form-switch ps-4">
                                            {{ form_widget(formSettings.isPublic, {
                                                attr: {
                                                    id: 'customSwitch1',
                                                    class: 'form-check-input' ~
                                                    (form_errors(formSettings.isPublic) ? ' is-invalid' : (formSettings.vars.submitted ? ' is-valid' : ''))
                                                }
                                            }) }}
                                            {{ form_label(formSettings.isPublic, 'Public profile', {
                                                label_attr: {
                                                    class: 'form-check-label mb-0 ms-2'
                                                }
                                            }) }}
                                            {{ form_errors(formSettings.isPublic) }}
                                        </div>
                                        <div class="form-text">
                                            If checked, your public profile will be visible. No sensitive information will be shared.
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="{{ formSettings.description.vars.id }}">
                                            {{ form_label(formSettings.description) }}
                                        </label>

                                        <textarea
                                            name="{{ field_name(formSettings.description) }}"
                                            id="{{ formSettings.description.vars.id }}"
                                            class="form-control
                                            {% if form_errors(formSettings.description) %}
                                                is-invalid
                                            {% elseif formSettings.vars.submitted %}
                                                is-valid
                                            {% endif %}"
                                            placeholder="{{ formSettings.description.vars.attr.placeholder }}"
                                            rows="5"
                                        >{{ app.user.description }}</textarea>

                                        {{ form_errors(formSettings.description) }}
                                    </div>

                                    <div class="col-12 d-flex justify-content-end pt-3">
                                        <button class="btn btn-secondary" type="button">Cancel</button>
                                        <button class="btn btn-primary ms-3" type="submit">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        {{ form_end(formSettings) }}
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    This account does not exist!
                </div>
            {% endif %}
        </div>

        <hr class="d-none d-dark-mode-block">



        <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" type="button"
                data-bs-toggle="offcanvas" data-bs-target="#sidebarAccount">
            <i class="ai-menu me-2"></i> Account menu
        </button>
    </main>
{% endblock %}
